.lettersContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 36px;
	span {
		display: inline-block;
		width: 40px;
		height: 40px;
		align-content: center;
		margin: 0 1px;
		color: #f9f4da;
		border-bottom: 1px solid #f9f4da;
		font: 700 16px/16px 'Fira Code';
	    background: #323232;

	    &.over {
	    	color: tomato!important;
	    }
	}
}