.suggestedRecipeContainer {
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
}

.suggestedRecipeContainer ul li,
.suggestedRecipeContainer ol li,
.suggestedRecipeContainer p {
    margin-bottom: 8px;
}